@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* might change */
  font-size: 16px;
}

body {
  background: #010101;
  font-family: "Poppins", sans-serif;
  color: #354358;
}

main > * {
  /* border: 2px solid red; */
}

section {
  padding: 6rem 0;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}
